body {
    background-color: #f29e03;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='46' height='46' fill-opacity='0.6' fill='%23ffa61d'/%3E%3C/svg%3E");

    border: 2px solid black;
    min-width: 90vw;
    box-sizing: border-box;

}

h1 {
    text-align: center;

}


.main-list {

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-list {


    margin-top: 90px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;

    /* border-bottom: 5px dotted black; */
    list-style: disc;
}

.inner-list {
    align-self: flex-start;
    list-style: disc;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;

}





.delete-list {
    text-decoration: dotted;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    border: none;
    background: url('public/icons/icons8-remove-48\ \(Custom\)\ \(1\).png');
    padding: 12px;
    transition: 0.3s;
}

.delete-list:hover {
    background: url('public/icons/icons8-remove-48\ \(Custom\)\ \(1\)\ -\ Copy.png');
}

.add-heading {

    position: absolute;
    top: 30px;
    right: 30px;

    display: block;
    border: none;
    background: url('public/icons/icons8-add-new-48\ \(Custom\)\ \(1\).png');
    padding: 12px;
    transition: 0.3s;
}



.add-content {

    display: inline-block;
    position: relative;
    top: -10px;
    border: none;
    background: url('public/icons/icons8-add-new-48\ \(Custom\)\ \(1\).png');
    padding: 12px;
    margin: 20px;
    transition: 0.3s;
}

.add-heading:hover,
.add-content:hover {

    background: url('public/icons/icons8-add-new-48\ \(Custom\)\ \(1\)\ -\ Copy.png');
}

#add-new-link {

    height: 100vh;
    width: 100%;
    background-color: rgba(240, 169, 180, 0.3);

    box-sizing: border-box;
}

li::marker {
    content: '';
    font-size: 0.5em;
}

.add-new-group-original {
    display: none;
}

.add-new-group {

    display: flex;
    text-align: center;
    background-color: rgba(144, 238, 144, 0.15);
    width: 100vw;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.add-new-group>button {
    margin-top: 21px;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.add-new-group>input {

    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
    transition: 0.5s;




}


.add-new-group>input:focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.add-new-group>button:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

a {
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    text-transform: uppercase;

}

a:hover {
    text-decoration: underline;
    color: gray;
}

a:active {
    color: rgba(0, 0, 0, 0.7);
}

a:visited {
    color: rgba(0, 0, 0, 0.7);
}

.heading {

    align-self: flex-start;
    padding-bottom: 3px;

}

.heading {

    align-self: flex-start;

    margin-bottom: 20px;



}